<!doctype html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Jaraqe</title>
</head>
<body>
<p>returning to app</p>
<p id="data" style="display: none">{{ data }}</p>
</body>

<script >
  window.setTimeout(function () {
    window.postMessage(window.document.getElementById('data').innerText)
  }, 500)
</script>
</html>